<div class="main users_edit_container">
  <div class="container">

    <h1>User Info Edit</h1>
    <%= form_tag("/users/#{@user.id}/update",{multipart:true})do%>
    <div class="form users-form">
      <div class="form-body">

        <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>

        <p>User Name:</p>
        <input name="name" value="<%=@user.name%>">
        <p>Image:</p>
        <input type="file" name="image">
        <p>Email:</p>
        <input name="email" value="<%=@user.email%>">
        <p>Favorite hiking spot:</p>
        <li class="user-like-input">
          <span class="fa fa-heart"></span>
          <input name="user_like" value="<%= @user.user_like %>">
        </li>
        <p>About you:</p>
        <textarea name="aboutUser" value="<%= @user.aboutUser %>"></textarea>

        <input type="submit" value="Edit">

      </div>
    </div>
    <% end %>

  </div>
</div>