<div class="main users_likes_container">

  <div class="users-info">
    <div class="users-show-info row">
      <div class="user col-12 col-md-4">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
      </div>

      <div class="user col-12 col-md-8">
        <h1><%= @user.name%></h1>
        <div class="likes">
          <h4>Favorite hike spot:</h4>
          <p><%= @user.user_like %></p>
        </div>
        <div class="about">
          <h4>Comment:</h4>
          <p><%= @user.aboutUser %></p>
        </div>
        <%if @current_user.id==@user.id%>
        <div class="user-menus">
          <%=link_to("Edit","/users/#{@user.id}/edit")%>
        </div>
        <%end%>
      </div>
    </div>

    <ul class="user-tabs">
      <li>
        <%= link_to("/users/#{@user.id}") do%>
        Post
        <%end%>
      </li>
      <li class="active">
        <%= link_to("/users/#{@user.id}/likes") do%>
        Like
        <%end%>
      </li>
    </ul>
  </div>

  <div class="container user-show-posts">
    <% @likes.each do |like|%>
    <% post=Post.find_by(id: like.post_id)%>
    <div class="row mb-4">
      <div class="work-img col-md-5">
        <%if post.user_id.present?%>
        <img src="<%= "/work_images/#{post.image_name}" %>">
        <%end%>
      </div>
      <div class="post-content col-md-7">
        <div class="user-img-name-created m-2">
          <div class="user-img mr-3">
            <%if post.user_id.present?%>
            <img src="<%="/user_images/#{post.user.image_name}"%>">
            <%end%>
          </div>
          <div class="user_name mr-4">
            <%if post.user_id.present?%>
            <h3><%= link_to(post.user.name, "/users/#{post.user.id}")%></h3>
            <%end%>
          </div>
          <div class="created_at">
            <p>
              <%= post.created_at.strftime('%Y/%m/%d') %>
            </p>
          </div>
        </div>
        <div class="posts_title_comment">
          <li class="post_title">
            <h2>
              <%= link_to(post.title, "/posts/#{post.id}") %>
            </h2>
          </li>
          <li class="post_comment">
            <%= post.comment %>
          </li>
        </div>
        <div class="like-menus">
          <div class="like">
            <div class="like-icon mr-2">
              <%if Like.find_by(user_id: @current_user.id, post_id: post.id)%>
              <%= link_to("/likes/#{post.id}/destroy", {method: "post"})do %>
              <span class="fa fa-heart like-btn-unlike"></span>
              <%end%>
              <%else%>
              <%= link_to("/likes/#{post.id}/create", {method: "post"}) do%>
              <span class="fa fa-heart like-btn"></span>
              <%end%>
              <%end%>
            </div>
            <div class="like-count">
              <%= @likes_count=Like.where(post_id: post.id).count%>
            </div>
          </div>
          <%if post.user_id== @current_user.id%>
          <div class="post-menus">
            <%= link_to("Edit","/posts/#{post.id}/edit")%><br>
            <%= link_to("Delete", "/posts/#{post.id}/destroy", {method:"post"}) %>
          </div>
        </div>
        <%end%>
      </div>
    </div>
    <%end%>
  </div>

</div>