<div class="main users_likes_container">
  <div class="container">

    <div class="users-show-info">
      <div class="user left">
        <img src="<%= "/user_images/#{@user.image_name}" %>">

        <%if @current_user.id==@user.id%>
        <div class="user-menus">
          <%=link_to("Edit","/users/#{@user.id}/edit")%>
        </div>
        <%end%>
      </div>

      <div class="user right">
        <h2><%= @user.name%></h2>
        <p><%= @user.email%></p>
        自己紹介！！！
        hello
      </div>
    </div>

    <!-- <div class="clear"></div> -->

    <ul class="user-tabs">
      <li>
        <%= link_to("/users/#{@user.id}") do%>
        Post<i class="fas fa-pencil-alt"></i>
        <%end%>
      </li>
      <li class="active">
        <%= link_to("/users/#{@user.id}/likes") do%>
        Like<i class="fas fa-heart"></i>
        <%end%>
      </li>
    </ul>

    <% @likes.each do |like|%>
    <% post=Post.find_by(id: like.post_id)%>
    <div class="posts-index-item">
      <div class="post-left">
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <%= link_to(post.comment, "/posts/#{post.id}") %>
      </div>
    </div>
    <%end%>

  </div>
</div>