<div class="main users_new_container">
  <div class="container">

    <%= form_tag("/users/create")do %>
    <form>
      <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>
      <div class="form users-form">
        <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>
        <div class="form-body">
          <p>User name</p>
          <input name="name" value="<%=@user.name%>">
          <p>Email</p>
          <input name="email" value="<%=@user.email%>">
          <p>Password</p>
          <input type="password" name="password" value="<%=@user.password%>">
          <input type="submit" value="sign in">
        </div>
      </div>
    </form>
    <% end %>

  </div>
</div>