<div class="main posts_index_container">

  <div class="container">

    <% @posts.each do |post| %>
    <div class="row mb-4">
      <!-- <div class="posts-index-item-top"> -->
      <div class="work-img col-5">
        <%if post.user_id.present?%>
        <img src="<%= "/work_images/#{post.image_name}" %>">
        <%end%>
      </div>
      <div class="col-1"></div>
      <div class="col-6">
        <!-- <div class="post-right"> -->
        <div class="user-img-name-created m-2">
          <div class="user-img mr-3">
            <%if post.user_id.present?%>
            <img src="<%="/user_images/#{post.user.image_name}"%>">
            <%end%>
          </div>
          <div class="user_name mr-4">
            <%if post.user_id.present?%>
            <h3><%= link_to(post.user.name, "/users/#{post.user.id}")%></h3>
            <%end%>
          </div>
          <div class="created_at">
            <!-- <i class="far fa-clock"></i> -->
            <p>
              <%= post.created_at.strftime('%Y/%m/%d') %>
            </p>
          </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->

        <!-- <div class="posts-index-item-content"> -->
        <div class="posts_title_comment">
          <li class="post_title">
            <h2>
              <%= link_to(post.title, "/posts/#{post.id}") %>
            </h2>
          </li>
          <li class="post_comment">
            <%= post.comment %>
          </li>
        </div>
        <div class="like-menus">
          <div class="like">
            <div class="like-icon mr-2">
              <%if Like.find_by(user_id: @current_user.id, post_id: post.id)%>
              <%= link_to("/likes/#{post.id}/destroy", {method: "post"})do %>
              <span class="fa fa-heart like-btn-unlike"></span>
              <%end%>
              <%else%>
              <%= link_to("/likes/#{post.id}/create", {method: "post"}) do%>
              <span class="fa fa-heart like-btn"></span>
              <%end%>
              <%end%>
            </div>
            <div class="like-count">
              <%= @likes_count=Like.where(post_id: post.id).count%>
            </div>
          </div>
          <%if post.user_id== @current_user.id%>
          <div class="post-menus">
            <%= link_to("Edit","/posts/#{post.id}/edit")%><br>
            <%= link_to("Delete", "/posts/#{post.id}/destroy", {method:"post"}) %>
          </div>
        </div>
        <%end%>
        <!-- </div> -->
      </div>
    </div>
    <% end %>

  </div>

</div>