<div class="main posts-show-container">

  <div class="container">

    <div class="new-top">

      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">

        <%=link_to(@user.name,"/users/#{@user.id}")%>
      </div>
      <div class="post-title">
        <%=@post.title%>
      </div>

      <div class="posts-show-img">
        <img src="<%= "/work_images/#{@post.image_name}"%>">
      </div>

      <div class="posts-show-index">
        <div class="content">
          <%=@post.updated_at.strftime('%Y/%m/%d')%>
        </div>
      </div>

    </div>

    <div class="clear"></div>

    <div class="valuation_item">

    </div>
    <div class="posts-show-comment">
      <%=@post.comment%>
    </div>

    <%if @post.user_id== @current_user.id%>
    <div class="post-menus">
      <%=link_to("Edit","/posts/#{@post.id}/edit")%>
      <%= link_to("Delete", "/posts/#{@post.id}/destroy", {method:"post"}) %>
    </div>
    <%end%>

    <%if Like.find_by(user_id:@current_user.id, post_id:@post.id)%>
    <%= link_to("/likes/#{@post.id}/destroy", {method: "post"})do %>
    <span class="fa fa-heart like-btn-unlike"></span>
    <%end%>
    <%else%>
    <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do%>
    <span class="fa fa-heart like-btn"></span>
    <%end%>
    <%end%>
    <%= @likes_count%>

  </div>

</div>