<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>YamaLog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://kit.fontawesome.com/9a3706d72e.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-light fixed-top">
      <div class="header-logo navbar-brand">
        <% if @current_user %>
        <%= link_to("YamaLog", "/posts/index") %>
        <% else %>
        <%= link_to("YamaLog", "/") %>
        <% end %>
      </div>
      <ul class="header-menus nav-item">
        <% if  @current_user%>
        <li>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
        </li>
        <li>
          <%= link_to("All posts", "/posts/index") %>
        </li>
        <li>
          <%= link_to("Friends", "/users/index") %>
        </li>
        <li>
          <%= link_to("New post", "/posts/new") %>
        </li>
        <li>
          <%= link_to("Sign out", "/logout", {method: :post}) %>
        </li>
        <% else %>
        <li>
          <%= link_to("About", "/about") %>
        </li>
        <li>
          <%= link_to("Sign in", "/signup") %>
        </li>
        <li>
          <%= link_to("Log in", "/login") %>
        </li>
        <% end %>
      </ul>
    </nav>
  </header>

  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>