<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- googleFonts -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap" rel="stylesheet">
  <title>YamaLog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://kit.fontawesome.com/9a3706d72e.js"></script>
</head>

<body>
  <header>
    <!-- <nav class="navbar navbar-light fixed-top"> -->
    <div class="navbar navbar-light fixed-top">
      <div class="navbar-brand">
        <% if @current_user %>
        <div class="linkImg"><%= link_to image_tag('/cite_image/logo.png'),"/posts/index" %></div>
        <% else %>
        <div class="linkImg"><%= link_to image_tag('/cite_image/logo.png'), "/" %></div>
        <% end %>
      </div>
      <div class="header-menus">
        <% if  @current_user%>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
        <div id="navArea">
          <nav>
            <div class="inner">
              <ul class="navbar-nav">
                <li class="global-nav__item">
                  <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
                </li>
                <li class="global-nav__item">
                  <%= link_to("All posts", "/posts/index") %>
                </li>
                <li class="global-nav__item">
                  <%= link_to("Friends", "/users/index") %>
                </li>
                <li class="global-nav__item">
                  <%= link_to("New post", "/posts/new") %>
                </li>
                <li class="global-nav__item">
                  <%= link_to("Sign out", "/logout", {method: :post}) %>
                </li>
              </ul>
            </div>
          </nav>
          <div class="toggle_btn">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div id="mask"></div>
        </div>
        <% else %>
        <ul class="topNav">
          <!-- <li>
          <%= link_to("About", "/about") %>
          </li> -->
          <li>
            <%= link_to("Sign in", "/signup") %>
          </li>
          <li>
            <%= link_to("Log in", "/login") %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </header>

  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>